<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		<add key="Path" value="C:\SFSMessage\" />
		<add key="Check1OK" value="D:\FlexUI\MyFile\Check1_OK.wav" />
		<add key="Check1NG" value="D:\FlexUI\MyFile\Check1_NG.wav" />
		<add key="Check2OK" value="D:\FlexUI\MyFile\Check2_OK.wav" />
		<add key="Check2NG" value="D:\FlexUI\MyFile\Check2_NG.wav" />
		<add key="Link1OK" value="D:\FlexUI\MyFile\Upload_OK.wav" />
		<add key="Link1NG" value="D:\FlexUI\MyFile\Upload_NG.wav" />
		<add key="Link2OK" value="D:\FlexUI\MyFile\装配完成.wav" />
		<add key="Link2NG" value="D:\FlexUI\MyFile\Shop Floor N G.wav" />
		<add key="TrigPollingTime" value="1000" />
		<add key="RetryCount" value="3" />
		<add key="RetryInterval" value="4500" />
		<add key="CheckLogName" value="CHECK1,CHECK2" />
		<add key="LinkLogName" value="LINK1,LINK2" />
		<add key="SFWAY" value="DLL" />
	</appSettings>
</configuration>