<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		<add key="odbc" value="DSN=SF;UID=TestUser;PWD=Test*#PWD;" />
		<add key="odbc2" value="DSN=SF;UID=TestUser;PWD=Test*#PWD;" />
		<add key="Path" value="C:\SFSMessage\" />
		<add key="CheckOK" value="D:\FlexUI\MyFile\Check_OK.wav" />
		<add key="CheckNG" value="D:\FlexUI\MyFile\Check_NG.wav" />
		<add key="LinkOK" value="D:\FlexUI\MyFile\装配完成.wav" />
		<add key="LinkNG" value="D:\FlexUI\MyFile\Shop Floor N G.wav" />
		<add key="Check2OK" value="D:\FlexUI\MyFile\Check_OK.wav" />
		<add key="Check2NG" value="D:\FlexUI\MyFile\Check_NG.wav" />
		<add key="TrigPollingTime" value="1000" />
		<add key="CHECK1ProcedureName" value="MonitorPortaltest" />
		<add key="CHECK2ProcedureName" value="MonitorPortal_ForTest" />
		<add key="LINKProcedureName" value="MonitorPortaltest" />
	</appSettings>
</configuration>