<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		<add key="odbc" value="DSN=FameView UserData Source;UID=;PWD=;" />
		<add key="Path" value="C:\SFSMessage\" />
		<add key="CheckOK" value="C:\FlexUI\MyFile\扫码OK.wav" />
		<add key="CheckNG" value="C:\FlexUI\MyFile\条码错误.wav" />
		<add key="LinkOK" value="C:\FlexUI\MyFile\装配完成.wav" />
		<add key="LinkNG" value="C:\FlexUI\MyFile\装配NG.wav" />
		<add key="TrigPollingTime" value="1000" />
	</appSettings>
</configuration>